body{
  height: 100vh;
}

#root{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  align-content: space-between;
}


.App {
  text-align: center;
}


.header{
  display: flex;
  background-color: #F9D6E5;
}

.header div{
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.header h1{
  text-align: center;
  font-size: 24px;
  color: #F98EBC;
}

.footer{
  background-color: #F9D6E5;
  display: flex;
  justify-content: space-between;
  padding: 25px 25px;
}

.footer .social a{
  width: 25px;
  height: 25px;
}

.inputs{
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-bottom: 50px;
}

.paswd{
  color: #F98EBC;
  list-style: none;
  font-weight: bold;
  text-decoration: none;
}

.fb{
  padding-right: 25px;
}

.footer .social a img{
  width: 25px;
}

.footer .email a{
  color: #F98EBC;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



/* Login page css */

.pinkBox{
padding: 50px;
background-color: #F9D6E5;
margin: 0 auto;
}


.pinkBox .icon{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  margin-bottom: 25px;
}

.pinkBox input{
  width: 100%;
  border: 1px solid #F98EBC;
  padding: 12px;
  border-radius: 5px;
  margin-bottom: 25px;
  box-sizing: border-box;
}

.buttons{
  display: flex;
  margin-bottom: 25px;
  width: 100%;
}

.buttons input{
  width: auto;
  margin: 0;
}
.buttonsWrap{
  display: flex;
  flex-direction: column;
  align-items: center;
}



.searching, .button{
  border: 1px solid #F98EBC;
  padding: 10px;
  padding-bottom: 0px;
  padding-top: 0px;
  border-radius: 5px;
  font-size: 24px;
  color: #F98EBC;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  list-style: none;
}
.toBack{
  list-style: none;
  text-decoration: none;
  color: #F98EBC;
  font-size: 16px;
  font-weight: 700;
}

.buttonWrap{
  text-align: center;
}
.buttonWrap .button{
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 25px;
}

textarea {
  width: 100%;
  height: 370px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #F98EBC;
  border-radius: 5px;
  background-color: #ffffff;
  font-size: 16px;
  resize: none;
}

textarea::placeholder {
  font-weight: bold;
  color: #F98EBC;
}


.buttons label{

  color: #F98EBC;
  list-style: none;
  font-weight: bold;
  text-decoration: none;
  margin-left: 15px;
}

.сat, .back{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  width: 220px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.back{
  padding: 15px;
}


.catName{
  margin-top: 15px;
  font-size: 24px;
  padding: 25px;
}

.pinkBox  input::placeholder {
  
  font-weight: bold;
  color: #F98EBC;
  font-weight: 600;

}

.pinkBox.sendler{
  border: 1px solid #F98EBC;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pinkBox.sendler * {
  color: #F98EBC;
}
.box-text
{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 25px;
}


.subTitle{
  font-weight: 700;
}

.stats{
  text-align: left;
  width: 100%;
  margin: 0;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
